// 轮播图
.swiper {
  height: 212px;
  position: relative;
  user-select: none;

  img {
    width: 100%;
  }
}

.navs {
  margin: 10px 0 0 0;
  display: flex;

  div {
    flex: 1;
    text-align: center;

    img {
      width: 48px;
    }

    h2 {
      font-size: 13px;
      font-weight: normal;
      margin: 7px 0;
    }
  }
}

.Groups {
padding: 10px 16px;
  background: #f6f5f6;
}
.GroupsHeader {
  display: flex;
  justify-content: space-between;
  height: 38px;
  line-height: 38px;
}
.GroupsHeaderTitle {
  font-size: 16px;
}
.GroupsHeaderMore {
  color: #787d82;
  font-size: 14px;
  font-weight: normal;
}
.GroupsCards{
  display: flex;
  flex-wrap: wrap;
}
.GroupCardsCard:nth-child(even){
  margin: 10px 0 0 0;
}
.GroupCardsCard{
  height: 75px;
  width: 48%;
  display: flex;
  background: white;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 10px 0 0;
  img {
    width: 55px;
  }
}
.GroupCardTitle {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.GroupCardInfo {
  font-size: 12px;
  color: #999;
}

.news{
  padding: 0 16px;
  background-color: #fff;
}

  .newsItem {
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
  }
  .newsItem:last-child {
    flex: 1;
    border: 0;
  }
  .newsItem:first-child{
    height: 90px;
    width: 120px;
  }
  .newsItemImg{
    height: 90px;
    width: 120px;
    margin: 0 10px 0 0;
    border-radius: 10px;
  }
  .newsItenContent{
    padding: 10px 0;
    box-sizing: border-box;
    flex:1;
  }
.newsItemTitle{
  font-size: 16px;
  margin-bottom: 24px;
}
.newsItemInfo{
  color: #9c9fa1;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;

}
