@font-face {
  font-family: "iconfont"; /* Project id 2743357 */
  src: url('iconfont.woff2?t=1636443303164') format('woff2'),
       url('iconfont.woff?t=1636443303164') format('woff'),
       url('iconfont.ttf?t=1636443303164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziliao:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-lishijilu:before {
  content: "\e640";
}

.icon-wode:before {
  content: "\e6a2";
}

.icon-jilu:before {
  content: "\e631";
}

.icon-chuzu:before {
  content: "\e698";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-arrow-left:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e692";
}

.icon-map:before {
  content: "\e63f";
}

.icon-arrow-bottom:before {
  content: "\e61d";
}

.icon-zhaofang:before {
  content: "\e686";
}

.icon-wode1:before {
  content: "\e614";
}

.icon-zixun:before {
  content: "\e638";
}

.icon-shouye2:before {
  content: "\e606";
}

