@font-face {
  font-family: "iconfont"; /* Project id 2743357 */
  src: url('iconfont.woff2?t=1629722881680') format('woff2'),
       url('iconfont.woff?t=1629722881680') format('woff'),
       url('iconfont.ttf?t=1629722881680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e692";
}

.icon-map:before {
  content: "\e63f";
}

.icon-arrow-bottom:before {
  content: "\e61d";
}

.icon-zhaofang:before {
  content: "\e686";
}

.icon-wode1:before {
  content: "\e614";
}

.icon-zixun:before {
  content: "\e638";
}

.icon-shouye2:before {
  content: "\e606";
}

