.slick-list, .slick-track { touch-action:pan-y; }
.nav .am-flexbox-item{
  text-align: center;
}
.swiper{
  height: 212px;
}
.nav{
  padding: 10px 0;
  img{
    width: 48px;
  }
  h2{
    font-size: 13px;
    font-weight: normal;
    margin: 7px 0 0 0;
  }
}
