.slick-list, .slick-track {
  touch-action: pan-y;
}

.nav .am-flexbox-item {
  text-align: center;
}

// 轮播图
.swiper {
  height: 212px;
  position: relative;
}
// 顶部导航
.search-box{
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 10px;
  .search{
flex: 1;
    height: 34px;
    margin: 0 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    .location{
      .icon-arrow-bottom{
        margin: 0 0 2px 0;
        font-size: 12px;
        color: #7f7f80;
      }
    }
    .form{
      border-left: solid 1px #e5e5e5;
      margin-left: 12px;
      line-height: 16px;
      .icon-search{
        vertical-align: middle;
        padding: 0 2px 0 12px;
        color: #9c9fa1;
        font-size: 15px;
      }
      .text{
        padding-left: 4px;
        font-size: 13px;
        color: #9c9fa1;
      }
    }
  }
  .icon-map{
    font-size: 25px;
    color: #fff;
  }
}
.nav {
  padding: 10px 0;

  img {
    width: 48px;
  }

  h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 7px 0 0 0;
  }
}

// 租房小组
.group {
  background: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;
.group-item{
  height: 75px;
  .desc {
    .title {
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 5px;
    }

    .info {
      font-size: 12px;
      color: #999;
    }
  }
  img {
    width: 55px;
  }

}
  .group-title {
    position: relative;
    margin: 15px 0 15px 10px;
    font-size: 15px;

    .more {
      color: #787d82;
      position: absolute;
      right: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .am-grid .am-flexbox {
    background: inherit;
    .am-flexbox-item .am-grid-item-content{
padding: 0 5px 0 0;
    }
  }
  .am-flexbox-align-stretch {
    margin-bottom: 10px;

    .am-grid-item {
      background-color: #fff;

      &:first-child {
        margin-right: 10px;
      }
    }


  }

}



